body {
    font-family: Arial, sans-serif; /* Tipografía global */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar relleno */
}

.container {
    display: flex; /* Uso de flexbox para disposición */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    gap: 20px; /* Espacio entre columnas */
}

/* Estilos para la barra lateral */
.sidebar {
    flex: 1; /* La barra lateral ocupa 1 parte */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir padding en el ancho total */
}

#topic-content {
    border: 1px solid #ccc; /* Borde alrededor del contenido */
    padding: 10px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    max-width: 100%; /* Asegúrate de que no exceda el ancho del contenedor */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

#pdfContainer {
    display: none; /* Inicialmente oculto */
    border: 1px solid #ccc; /* Opcional: añade un borde al contenedor */
    margin-top: 20px; /* Opcional: espacio arriba del contenedor */
}

#pdfViewer {
    width: 100%;
    height: 600px; /* Ajusta la altura según sea necesario */
    border: 1px solid #ccc;
    display: none; /* Esconde el iframe inicialmente */
}

#openBtn {
    margin-bottom: 20px;
}

/* Estilos para la columna de contenido */
.content {
    flex: 3; /* El contenido ocupa 3 partes */
    padding: 20px; /* Espaciado interno */
    box-sizing: border-box; /* Incluir padding en el ancho total */
    border-left: 2px solid #ccc; /* Línea de separación entre columnas */
}

/* Estilos para el encabezado */
h2 {
    margin-top: 0; /* Elimina margen superior del encabezado */
}

/* Estilos para la lista de índices */

li {
    margin: 5px 0; /* Margen entre elementos de la lista */
}